body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

#password {
    font-size: 18px;
    margin-top: 20px;
}

button {
    background-color: #39db3e;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #007906;
}

label {
    font-size: 14px;
    color: #666;
}

#copy {
    background-color: #008cff;
}

#copy:hover {
    background-color: #004177;
}
